// Use this file for any re-usable components/colours/fonts etc

//COLOURS
$darkBlue: #0b1117;
$primaryBlue: #1659ef;
$mint: #2fe3ab;
$lightBlue: #48e0fe;
$white: #fff;
$red: #eb3f26;
$grey: #a7a7a7;

//VARIABLES
$boxRadius: 10px;

//CONTAINERS
.inline-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  top: 1rem;
  left: 1rem;
  background: $darkBlue;
  padding: 0.5rem;
  border-radius: $boxRadius;
  width: fit-content;

  img {
    height: 2rem;
  }
}

.circle-image {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  overflow: hidden;

  img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }
}

//BUTTONS
.button {
  cursor: pointer;
  border-radius: 5px;
  padding: 0.8rem;
  font-weight: 600;

  &:disabled {
    background: $grey;
    cursor: not-allowed;
  }

  &-large {
    width: 100%;
    margin: 1rem 0 0;
  }

  &-primary {
    background: $primaryBlue;
    border: $primaryBlue;
    color: $white;

    &:hover {
      background: darken($primaryBlue, 10%);
    }
  }
}

//ICONS
.icon {
  cursor: pointer;

  svg {
    display: block;
  }
}

.square-icon {
  padding: 0.5rem;
  width: fit-content;
  border-radius: 2px;
}

.icon-close {
  position: absolute;
  top: 1rem;
  right: 1rem;

  svg {
    height: 1.5rem;
    width: 1.5rem;
    fill: lighten($grey, 20%);
  }

  &:hover {
    background: lighten($grey, 30%);

    svg {
      fill: lighten($grey, 10%);
    }
  }
}

.icon-delete {
  background: lighten($red, 40%);

  svg {
    fill: lighten($red, 20%);
  }

  &:hover {
    background: lighten($red, 30%);

    svg {
      fill: lighten($red, 10%);
    }
  }
}

//LOADING SPINNER
.spinner {
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

//INPUTS
input {
  border: none;
  border-bottom: 1px solid $grey;
  outline: none;
  min-width: 60%;
  height: 2rem;
  font-size: 16px;
}

label {
  line-height: 2rem;
  font-weight: bold;
}

//FONTS
h1,
h2,
h3,
label,
button {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2rem;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
}

.bold {
  font-weight: bold;
}

.text-right {
  text-align: right;
}

.no-margin-btm {
  margin-bottom: 0;
}

.text-danger {
  color: $red;
  margin: 10px 0 0;
}

@media screen and (max-width: 1000px) {
  .logo-container {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }
}
