@use "./utils" as *;

.home {
  margin-bottom: 6rem;

  &__header {
    padding: 1rem;

    &-inner {
      gap: 1rem;
    }
  }

  &__body {
    padding: 2rem;
    overflow-x: auto;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;

    &__header {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__modal {
    max-width: 600px;
    width: 100%;
    padding: 3rem;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: $white;
    border-radius: $boxRadius;
  }
}
